

#side-bar {
    flex-basis: 25%;
    padding: 0 30px;
    border-left: 1px solid rgb(236, 236, 236);
}


/* ASIDE STARTS HERE */

#side-bar .search-bar-container {
    display: flex;
}

#side-bar .search-bar {
    flex-grow: 1;
    margin-bottom: 1.3em;
}

#side-bar .search-bar button {
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 18px;
    border: none;
    background-color: #000;
}

#side-bar .search-bar button i {
    font-size: 16px;
}

#side-bar .search-bar form {
    display: flex;
    align-items: center;
    width: 100%;
}

#side-bar .search-bar input[type=search] {
    padding: 0 10px;
    border-radius: 0;
    border: 1px solid #dddddd;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    height: 38px;
    width: 70px;
    flex-grow: 1;
    font-size: 0.97em;
}

#side-bar .search-bar input[type=search]:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#side-bar .search-bar input[type=search]:focus {
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    opacity: 1 !important;
    outline: 0;
    color: #333;
    background-color: #fff;
}




#side-bar .recent-posts {
    margin-bottom: 1.5em;
}

#side-bar .recent-posts ul {
    padding: 0;
}

#side-bar .recent-posts li {
    margin-bottom: 0.6em;
}

#side-bar .recent-posts li a {
    color: #334862;
}

#side-bar .recent-posts li a:hover {
    color: #000;
}


#side-bar .recent-comments p {
    color: #777777;
}




/* TABLET STYLES */
@media screen and (max-width: 849px) {

    #side-bar {
        flex-basis: 100%;
        padding: 0 15px 30px 15px;
        border: none;
    }

}